USE [Olist_Portfolio]
GO
/****** Object:  Table [analytics].[Dim_Customer]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [analytics].[Dim_Customer](
	[Customer_ID] [varchar](32) NULL,
	[Customer_Unique_ID] [varchar](32) NULL,
	[Customer_Zip_Code] [int] NULL,
	[Customer_City] [varchar](100) NULL,
	[Customer_State] [varchar](2) NULL,
	[Customer_Name] [nvarchar](100) NULL,
	[Customer_Category] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [analytics].[Dim_Product]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [analytics].[Dim_Product](
	[Product_ID] [varchar](32) NULL,
	[Product_Category_PT] [varchar](100) NULL,
	[Product_Category] [varchar](100) NULL,
	[Product_Name_Length] [int] NULL,
	[Product_Description_Length] [int] NULL,
	[Product_Photos_Qty] [int] NULL,
	[Product_Weight_G] [int] NULL,
	[Product_Length_CM] [int] NULL,
	[Product_Height_CM] [int] NULL,
	[Product_Width_CM] [int] NULL,
	[Categoria_Castellano] [nvarchar](100) NULL,
	[Grupo_Categoria] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [analytics].[Dim_Real_Customer]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [analytics].[Dim_Real_Customer](
	[Customer_Unique_ID] [varchar](32) NULL,
	[Customer_ID] [varchar](32) NULL,
	[Customer_Zip_Code] [int] NULL,
	[Customer_City] [varchar](100) NULL,
	[Customer_State] [varchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [analytics].[Dim_Seller]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [analytics].[Dim_Seller](
	[Seller_ID] [varchar](32) NULL,
	[Seller_Zip_Code] [int] NULL,
	[Seller_City] [varchar](100) NULL,
	[Seller_State] [varchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [analytics].[Fact_Orders]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [analytics].[Fact_Orders](
	[Order_ID] [varchar](32) NULL,
	[Customer_ID] [varchar](32) NULL,
	[Customer_Unique_ID] [varchar](32) NULL,
	[Order_Date] [date] NULL,
	[Order_Status] [varchar](30) NULL,
	[Approved_Date] [date] NULL,
	[Delivered_Carrier_Date] [date] NULL,
	[Delivered_Customer_Date] [date] NULL,
	[Estimated_Delivery_Date] [date] NULL,
	[Delivery_Days] [int] NULL,
	[Delivery_Delay_Days] [int] NULL,
	[Is_Late_Delivery] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [analytics].[Fact_Sales]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [analytics].[Fact_Sales](
	[Order_ID] [varchar](32) NULL,
	[Order_Item_ID] [int] NULL,
	[Customer_ID] [varchar](32) NULL,
	[Customer_Unique_ID] [varchar](32) NULL,
	[Product_ID] [varchar](32) NULL,
	[Seller_ID] [varchar](32) NULL,
	[Order_Date] [date] NULL,
	[Order_Status] [varchar](30) NULL,
	[Price] [decimal](18, 2) NULL,
	[Freight_Value] [decimal](18, 2) NULL,
	[Total_Order_Item_Value] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_customers]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_customers](
	[customer_id] [nvarchar](255) NULL,
	[customer_unique_id] [nvarchar](255) NULL,
	[customer_zip_code_prefix] [nvarchar](255) NULL,
	[customer_city] [nvarchar](255) NULL,
	[customer_state] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_geolocation]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_geolocation](
	[geolocation_zip_code_prefix] [nvarchar](255) NULL,
	[geolocation_lat] [float] NULL,
	[geolocation_lng] [float] NULL,
	[geolocation_city] [nvarchar](255) NULL,
	[geolocation_state] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_items]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_items](
	[order_id] [nvarchar](255) NULL,
	[order_item_id] [float] NULL,
	[product_id] [nvarchar](255) NULL,
	[seller_id] [nvarchar](255) NULL,
	[shipping_limit_date] [nvarchar](255) NULL,
	[price] [float] NULL,
	[freight_value] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_payments]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_payments](
	[order_id] [nvarchar](255) NULL,
	[payment_sequential] [float] NULL,
	[payment_type] [nvarchar](255) NULL,
	[payment_installments] [float] NULL,
	[payment_value] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_order_reviews]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_order_reviews](
	[review_id] [nvarchar](255) NULL,
	[order_id] [nvarchar](255) NULL,
	[review_score] [float] NULL,
	[review_comment_title] [nvarchar](255) NULL,
	[review_comment_message] [nvarchar](255) NULL,
	[review_creation_date] [datetime] NULL,
	[review_answer_timestamp] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_orders]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_orders](
	[order_id] [nvarchar](255) NULL,
	[customer_id] [nvarchar](255) NULL,
	[order_status] [nvarchar](255) NULL,
	[order_purchase_timestamp] [datetime] NULL,
	[order_approved_at] [datetime] NULL,
	[order_delivered_carrier_date] [datetime] NULL,
	[order_delivered_customer_date] [datetime] NULL,
	[order_estimated_delivery_date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_products]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_products](
	[product_id] [nvarchar](255) NULL,
	[product_category_name] [nvarchar](255) NULL,
	[product_name_lenght] [float] NULL,
	[product_description_lenght] [float] NULL,
	[product_photos_qty] [float] NULL,
	[product_weight_g] [float] NULL,
	[product_length_cm] [float] NULL,
	[product_height_cm] [float] NULL,
	[product_width_cm] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[olist_sellers]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[olist_sellers](
	[seller_id] [nvarchar](255) NULL,
	[seller_zip_code_prefix] [nvarchar](255) NULL,
	[seller_city] [nvarchar](255) NULL,
	[seller_state] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category_translation]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category_translation](
	[product_category_name] [nvarchar](255) NULL,
	[product_category_name_english] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Customers]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Customers](
	[Customer_ID] [varchar](32) NULL,
	[Customer_Unique_ID] [varchar](32) NULL,
	[Customer_Zip_Code] [int] NULL,
	[Customer_City] [varchar](100) NULL,
	[Customer_State] [varchar](2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Order_Items]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Order_Items](
	[Order_ID] [varchar](32) NULL,
	[Order_Item_ID] [int] NULL,
	[Product_ID] [varchar](32) NULL,
	[Seller_ID] [varchar](32) NULL,
	[Shipping_Limit_Date] [datetime2](7) NULL,
	[Price] [decimal](18, 2) NULL,
	[Freight_Value] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Orders]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Orders](
	[Order_ID] [varchar](32) NULL,
	[Customer_ID] [varchar](32) NULL,
	[Order_Status] [varchar](30) NULL,
	[Order_Purchase_Date] [datetime2](7) NULL,
	[Order_Approved_Date] [datetime2](7) NULL,
	[Order_Delivered_Carrier_Date] [datetime2](7) NULL,
	[Order_Delivered_Customer_Date] [datetime2](7) NULL,
	[Order_Estimated_Delivery_Date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Payments]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Payments](
	[Order_ID] [varchar](32) NULL,
	[Payment_Sequential] [int] NULL,
	[Payment_Type] [varchar](30) NULL,
	[Payment_Installments] [int] NULL,
	[Payment_Value] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Products]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Products](
	[Product_ID] [varchar](32) NULL,
	[Product_Category_PT] [varchar](100) NULL,
	[Product_Category] [varchar](100) NULL,
	[Product_Name_Length] [int] NULL,
	[Product_Description_Length] [int] NULL,
	[Product_Photos_Qty] [int] NULL,
	[Product_Weight_G] [int] NULL,
	[Product_Length_CM] [int] NULL,
	[Product_Height_CM] [int] NULL,
	[Product_Width_CM] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Reviews]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Reviews](
	[Review_ID] [varchar](32) NULL,
	[Order_ID] [varchar](32) NULL,
	[Review_Score] [int] NULL,
	[Review_Comment_Title] [varchar](255) NULL,
	[Review_Comment_Message] [varchar](1000) NULL,
	[Review_Creation_Date] [datetime2](7) NULL,
	[Review_Answer_Date] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [stg].[Sellers]    Script Date: 17/09/2026 14:54:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [stg].[Sellers](
	[Seller_ID] [varchar](32) NULL,
	[Seller_Zip_Code] [int] NULL,
	[Seller_City] [varchar](100) NULL,
	[Seller_State] [varchar](2) NULL
) ON [PRIMARY]
GO
